@charset "utf-8";

#smenu_srch .iText,
#smenu_srch button {
	background-color: #2a0015;
}

#login_btn svg.active,
#login_window .idpwWrap .login,
#sider_nav h3 a,
#sider_nav ul.smenu_3rdlevel {
	background-color: #55002a;
}

#sider_nav ul.smenu_3rdlevel li a {
	border-bottom: 3px solid #55002a;
}

#sider_nav,
#login_window .idpw input[type=text],
#login_window .idpw input[type=password] {
	background-color: #7f003f;
}


#sider_nav ul.smenu_2ndlevel li a {
	border-bottom: 4px solid #7f003f;
}

a:link, a:visited {
	color: #aa0055;
}

#topheader, .dialog_tline {
	background-color: #aa0055;
}


#header_nav ul li a {
	border-bottom: 5px solid #aa0055;
}


a:active, a:hover {
	color: #ff55aa;
}

#header_nav ul li.active a               { border-bottom: 5px solid #ff55aa; }
#sider_nav ul.smenu_2ndlevel li.active a { border-bottom: 4px solid #ff55aa; }
#sider_nav ul.smenu_3rdlevel li.active a { border-bottom: 3px solid #ff55aa; }

#topheader a:active, #topheader a:hover,
#sider_nav a:active, #sider_nav a:hover,
#login_window .idpwWrap .login:active,
#login_window .idpwWrap .login:hover {
	color: #ffaad4;
}

#smenu_srch button:active svg .stro,
#smenu_srch button:hover svg .stro,
#login_close:active svg .stro,
#login_close:hover svg .stro,
#login_btn svg.active .stro {
	stroke: #ffaad4;
}

#login_btn svg.active .poly {
	fill: #ffaad4;
}
