@charset "utf-8";
/* 웹폰트 */
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,700);

/* 기본설정 */
*, input, button, textarea {
	font-family: 'Ubuntu', 'Nanum Gothic', '나눔고딕', sans-serif;
	/* 기본 폰트는 우분투체. 단, 한글은 나눔고딕. */
	font-weight: 400;
}

b, strong {
	font-weight: 700;
}

a:link, a:visited, a:active, a:hover {
	text-decoration: none;
}

/* 기본, 모바일용 */
/* Mobile Layout: 480px and below. */

body {
	margin: 0 0 0 0;
	background-color: #e9e9e9;
}

.maxwidth {
	max-width: 1000px;
	margin: 0 auto;
}

#topheader {
	color: #ffffff;
	text-align: right;
	padding-top: 10px;
}

#topheader a:link, #topheader a:visited {
	color: #ffffff;
}

#topheader:after {
	width: 100%;
	display: block;
	clear: both;
	content: '';
}

#header_lgo {
	padding: 0 0 0 0;
	margin-top: -10px;
	text-align: left;
	height: 50px;
	max-width: 270px;
	overflow-x: hidden;
	white-space: nowrap;
	display: block;
	float: left;
}

#header_lgo .logoimg {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	border: none;
	height: 50px;
	width: auto;
	display: block;
}

#header_lgo .logotxt {
	padding: 10px 10px 10px 10px;
	height: 30px;
	line-height: 30px;
	font-size: 24px;
	font-weight: 700;
	letter-spacing: 3px;
	display: block;
}

#login_btn {
	margin-left: 10px;
	width: 40px;
	height: 40px;
	display: block;
	float: right;
}

#login_btn svg, #toTop svg {
	width: 40px;
	height: 40px;
}

#login_btn svg .stro {
	stroke: #ffffff;
	stroke-width: 2px;
	fill: transparent;
}

#login_btn svg .poly, #toTop svg .poly {
	fill: #ffffff;
}

#header_nav ul, #sider_nav ul {
	display: inline-block;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

#header_nav ul li, #sider_nav ul li {
	display: inline;
}

#header_nav ul li a {
	display: inline-block;
	white-space: nowrap;
	line-height: 20px;
	font-size: 16px;
	font-weight: 700;
	padding: 10px 8px 5px 8px;
}

#sitebody {
	background-color: #ffffff;
	padding: 0 0 0 0;
}

#sider_nav {
	min-height: 30px;
	display: block;
}

#sider_nav a:link, #sider_nav a:visited {
	color: #ffffff;
}

#sider_nav a {
	display: inline-block;
	line-height: 20px;
}

#sider_nav h3 {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	display: inline;
	vertical-align: text-top;
}

#sider_nav h3 a {
	padding: 4px 10px 6px 10px;
	font-size: 20px;
	font-weight: 700;
}

#sider_nav ul.smenu_2ndlevel li a {
	white-space: nowrap;
	padding: 3px 8px 3px 8px;
	font-size: 16px;
}

#sider_nav ul.smenu_3rdlevel {
	width: 100%;
	padding-left: 0;
}

#sider_nav ul.smenu_3rdlevel li a {
	white-space: nowrap;
	padding: 3px 8px 2px 8px;
	font-size: 13px;
	line-height: 16px;
}

#smenu_srch {
	float: right;
	width: 270px;
	height: 30px;
}

#smenu_srch .iText {
	float: left;
	width: 220px;
	height: 20px;
	border: none;
	margin: 0 0 0 0;
	padding: 5px 10px 5px 10px;
	line-height: 20px;
	font-size: 16px;
	color: #ffffff;
}

#smenu_srch button {
	float: right;
	width: 30px;
	height: 30px;
	border: none;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

#smenu_srch button svg {
	width: 30px;
	height: 30px;
}

#smenu_srch button svg .stro {
	stroke: #ffffff;
	stroke-width: 3px;
	fill: transparent;
}

#bodycont {
	width: calc(100%-20px);
	display: block;
	margin: 10px 10px 10px 10px;
	text-align: justify;
}

.antimargin {
	width: 100%;
	height: 0;
	overflow: hidden;
	display: block;
	clear: both;
}


#sitefooter {
	background-color: #000000;
	color: #aaaaaa;
	padding: 10px 0 10px 0;
	line-height: 20px;
	font-size: 16px;
}

#sitefooter a:link, #sitefooter a:visited,
#sitefooter a:active, #sitefooter a:hover {
	color: #ffffff;
}


/* 16픽셀 폰트용 */
.font16 {
	font-size: 16px;
}

/* 로그인 위젯용 추가 옵션 */
#login_bg {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100000;
	background: rgba(0, 0, 0, 0.6);
	display: none;
}

.dialog_tline {
	width: calc(100% - 20px);
	height: 30px;
	padding: 0 0 0 20px;
	color: #ffffff;
	line-height: 30px;
	font-size: 16px;
	letter-spacing: 1px;
}

#login_close {
	width: 30px;
	height: 30px;
	float: right;
	background-color: #000000;
}

#login_close svg {
	width: 30px;
	height: 30px;
}

#login_close svg .stro {
	stroke: #ffffff;
	stroke-width: 1px;
	fill: transparent;
}

#login_window {
	width: 300px;
	position: absolute;
	display: block;
	left: 50%;
	top: 50%;
	margin-left: -150px;
	background-color: #ffffff;
}

#login_window.login {
	height: 180px;
	margin-top: -90px;
}

#login_window.guest {
	height: 250px;
	margin-top: -125px;
}

#login_window fieldset {
	border: none;
	width: 260px;
	margin: 0 0 0 0;
	padding: 10px 20px 10px 20px;
	font-size: 16px;
}

#login_window .idpw input[type=text],
#login_window .idpw input[type=password] {
	width: 250px;
	height: 20px;
	display: block;
	margin: 0 0 6px 0;
	padding: 2px 5px 2px 5px;
	border: none;
	color: #ffffff;
}

#login_window .keep {
	height: 20px;
	line-height: 20px;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	font-size: smaller;
	display: block;
}

#login_window .idpwWrap .login {
	width: 120px;
	height: 24px;
	line-height: 24px;
	float: right;
	margin: -20px 0 6px 0;
	padding: 0 0 0 0;
	border: none;
	display: inline-block;
	color: #ffffff;
	cursor: pointer;
}

#login_window .keep_msg {
	display: block;
	clear: both;
	margin: 10px 0 5px 0;
	padding: 0 0 0 0;
	font-size: smaller;
	line-height: 16px;
}

#login_window .help {
	display: inline-block;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	text-align: center;
	font-size: smaller;
	line-height: 21px;
	width: 100%;
}


#login_window .userName {
	line-height: 20px;
	font-size: 16px;
	margin-bottom: 15px;
}

#login_window .userName a {
	display: inline-block;
	height: 20px;
	margin: 0 0 0 0;
}

#login_window .userName a:first-of-type {
	font-weight: 700;
	max-width: 180px;
	overflow-x: hidden;
	white-space: nowrap;
}

#login_window .userName a:last-of-type {
	float: right;
}

#login_window .latestLogin {
	height: 16px;
	line-height: 16px;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	font-size: smaller;
}

#login_window .userMenu {
	display: inline-block;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	text-align: center;
	font-size: smaller;
	line-height: 21px;
}

#login_window .userMenu li,
#login_window .help li {
	display: inline;
}

#login_window .userMenu li a,
#login_window .help li a {
	display: inline-block;
	white-space: nowrap;
	width: 82px;
	height: 21px;
	margin: 2px 0 2px 0;
	padding: 0 0 0 0;
}


/* 위로 올리기 */
#toTop {
    z-index: 10000;
    width: 40px;
    height: 40px;
	padding: 0 0 0 0;
    background: #000000;
    position: fixed;
    cursor: pointer;
    opacity: 0.6;
    bottom: 10px;
    display: none;
}


/* 태블릿용 1 */
/* Tablet Layout 1: 481px to 720px. Inherits styles from: Mobile Layout. */
@media only screen and (min-width: 481px) {

#sider_nav ul.smenu_3rdlevel {
	width: calc(100% - 20px);
	padding-left: 20px;
}

}

/* 태블릿용 2 */
/* Tablet Layout 2: 721px to a max of 960px.  Inherits styles from: Mobile Layout and Tablet Layout 1. */
@media only screen and (min-width: 721px) {

}

/* 데스크톱용 */
/* Desktop Layout: 961px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */
@media only screen and (min-width: 961px) {

}

/* 전환효과 및 애니메이션 */
a, input, textarea, button {
	-webkit-transition: background .25s, color .25s, border .25s;
	transition: background .25s, color .25s, border .25s;
}

button svg *, a svg * {
	-webkit-transition: all .25s;
	transition: all .25s;
}
