@charset "utf-8";

#smenu_srch .iText,
#smenu_srch button {
	background-color: #2a0000;
}

#login_btn svg.active,
#login_window .idpwWrap .login,
#sider_nav h3 a,
#sider_nav ul.smenu_3rdlevel {
	background-color: #550000;
}

#sider_nav ul.smenu_3rdlevel li a {
	border-bottom: 3px solid #550000;
}

#sider_nav,
#login_window .idpw input[type=text],
#login_window .idpw input[type=password] {
	background-color: #7f0000;
}


#sider_nav ul.smenu_2ndlevel li a {
	border-bottom: 4px solid #7f0000;
}

a:link, a:visited {
	color: #aa0000;
}

#topheader, .dialog_tline {
	background-color: #aa0000;
}


#header_nav ul li a {
	border-bottom: 5px solid #aa0000;
}


a:active, a:hover {
	color: #ff5555;
}

#header_nav ul li.active a               { border-bottom: 5px solid #ff5555; }
#sider_nav ul.smenu_2ndlevel li.active a { border-bottom: 4px solid #ff5555; }
#sider_nav ul.smenu_3rdlevel li.active a { border-bottom: 3px solid #ff5555; }

#topheader a:active, #topheader a:hover,
#sider_nav a:active, #sider_nav a:hover,
#login_window .idpwWrap .login:active,
#login_window .idpwWrap .login:hover {
	color: #ffaaaa;
}

#smenu_srch button:active svg .stro,
#smenu_srch button:hover svg .stro,
#login_close:active svg .stro,
#login_close:hover svg .stro,
#login_btn svg.active .stro {
	stroke: #ffaaaa;
}

#login_btn svg.active .poly {
	fill: #ffaaaa;
}
