@charset "utf-8";
/* 위젯용 (컨텐츠) */

.widgetContainer {
	text-align: center;
}

.widgetContainer .widgetA, .widgetContainer .widgetZineA {
	text-align: justify;
}

.widgetContainer ul {
	line-height: 20px;
	font-size: 16px;
	display: inline;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	list-style-type: none;
}

.widgetContainer ul:after {
	display: block;
	width: 100%;
	height: 0;
	clear: both;
	content: '';
}

.widgetContainer li .author, .widgetContainer li .date,
.widgetContainer li .hour {
	font-size: 14px;
	white-space: nowrap;
}

.widgetContainer em.replyNum {
	font-style: normal;
	font-size: smaller;
}

.widgetContainer em.replyNum a:before {
	content: '(';
}

.widgetContainer em.replyNum a:after {
	content: ')';
}


.widgetThumb.floatLeft, .widgetZineA .thumbArea {
	float: left;
	display: block;
}


.widgetA li, .widgetZineA li {
	border-bottom: 1px dotted #aaaaaa;
}

.widgetZineA li {
	margin-bottom: 5px;
	padding-bottom: 5px;
}

.widgetZineA li:after {
	display: block;
	width: 100%;
	height: 0;
	clear: both;
	content: '';
}


.widgetGalleryA li {
	display: inline-block;
	/* white-space: nowrap; */
	vertical-align: top;
	margin: 10px 10px 10px 10px;
}

.widgetZineA .thumb,
.widgetGalleryA .thumb {
	display: block;
	position: relative;
	overflow: hidden;
}

.widgetZineA .thumb img,
.widgetGalleryA .thumb img {
	display: block;
	position: relative;
}

.widgetZineA .thumb .category,
.widgetGalleryA .thumb .board,
.widgetGalleryA .thumb .category {
	display: block;
	position: absolute;
	width: 100%;
	left: 0;
	padding: 2px 0 0 !important;
	text-align: center;
	background: #000000;
	color: #ffffff;
	font-weight: 400;
	opacity: 0.8;
	white-space: nowrap;
}

.widgetGalleryA .thumb .board {
	bottom: 0;
}

.widgetZineA .thumb .category,
.widgetGalleryA .thumb .category {
	top: 0;
}


/* 위젯용 (모컨) */
.title em {
	font-style: normal;
}
