@charset "utf-8";

div.simpleWidgetStyle {
	position: relative;
	margin-bottom: 20px;
	overflow: hidden;
	*zoom: 1;
}

div.simpleWidgetStyle h2 {
	margin: 0 0 10px 0;
	padding: 3px 8px 3px 8px;
	height: 24px;
	line-height: 24px;
	font-size: 20px;
	font-weight: 600;
	display: block;
}

div.simpleWidgetStyle a.widgetMoreLink {
	float: right;
	margin-top: -40px;
	padding: 5px 5px 5px 5px;
	height: 20px;
	line-height: 20px;
	font-size: 16px;
	display: block;
}

div.simpleWidgetStyle a.widgetMoreLink:active,
div.simpleWidgetStyle a.widgetMoreLink:hover {
	color: #ffffff;
}


.ws_blue h2                       { background-color: #d4d4ff; }
.ws_blue a.widgetMoreLink:link,
.ws_blue a.widgetMoreLink:visited { background-color: #e9e9ff; color: #0000aa; }
.ws_blue a.widgetMoreLink:active,
.ws_blue a.widgetMoreLink:hover   { background-color: #0000aa; }


.ws_violet h2                       { background-color: #e9d4ff; }
.ws_violet a.widgetMoreLink:link,
.ws_violet a.widgetMoreLink:visited { background-color: #f4e9ff; color: #5500aa; }
.ws_violet a.widgetMoreLink:active,
.ws_violet a.widgetMoreLink:hover   { background-color: #5500aa; }


.ws_purple h2                       { background-color: #ffd4ff; }
.ws_purple a.widgetMoreLink:link,
.ws_purple a.widgetMoreLink:visited { background-color: #ffe9ff; color: #aa00aa; }
.ws_purple a.widgetMoreLink:active,
.ws_purple a.widgetMoreLink:hover   { background-color: #aa00aa; }


.ws_deeppink h2                       { background-color: #ffd4e9; }
.ws_deeppink a.widgetMoreLink:link,
.ws_deeppink a.widgetMoreLink:visited { background-color: #ffe9f4; color: #aa0055; }
.ws_deeppink a.widgetMoreLink:active,
.ws_deeppink a.widgetMoreLink:hover   { background-color: #aa0055; }


.ws_red h2                       { background-color: #ffd4d4; }
.ws_red a.widgetMoreLink:link,
.ws_red a.widgetMoreLink:visited { background-color: #ffe9e9; color: #aa0000; }
.ws_red a.widgetMoreLink:active,
.ws_red a.widgetMoreLink:hover   { background-color: #aa0000; }


.ws_brown h2                       { background-color: #ffe9d4; }
.ws_brown a.widgetMoreLink:link,
.ws_brown a.widgetMoreLink:visited { background-color: #fff4e9; color: #aa5500; }
.ws_brown a.widgetMoreLink:active,
.ws_brown a.widgetMoreLink:hover   { background-color: #aa5500; }


.ws_yellow h2                       { background-color: #ffffd4; }
.ws_yellow a.widgetMoreLink:link,
.ws_yellow a.widgetMoreLink:visited { background-color: #ffffe9; color: #aaaa00; }
.ws_yellow a.widgetMoreLink:active,
.ws_yellow a.widgetMoreLink:hover   { background-color: #aaaa00; }


.ws_gyellow h2                       { background-color: #e9ffd4; }
.ws_gyellow a.widgetMoreLink:link,
.ws_gyellow a.widgetMoreLink:visited { background-color: #f4ffe9; color: #55aa00; }
.ws_gyellow a.widgetMoreLink:active,
.ws_gyellow a.widgetMoreLink:hover   { background-color: #55aa00; }


.ws_green h2                       { background-color: #d4ffd4; }
.ws_green a.widgetMoreLink:link,
.ws_green a.widgetMoreLink:visited { background-color: #e9ffe9; color: #00aa00; }
.ws_green a.widgetMoreLink:active,
.ws_green a.widgetMoreLink:hover   { background-color: #00aa00; }


.ws_emerald h2                       { background-color: #d4ffe9; }
.ws_emerald a.widgetMoreLink:link,
.ws_emerald a.widgetMoreLink:visited { background-color: #e9fff4; color: #00aa55; }
.ws_emerald a.widgetMoreLink:active,
.ws_emerald a.widgetMoreLink:hover   { background-color: #00aa55; }


.ws_cyan h2                       { background-color: #d4ffff; }
.ws_cyan a.widgetMoreLink:link,
.ws_cyan a.widgetMoreLink:visited { background-color: #e9ffff; color: #00aaaa; }
.ws_cyan a.widgetMoreLink:active,
.ws_cyan a.widgetMoreLink:hover   { background-color: #00aaaa; }


.ws_skyblue h2                       { background-color: #d4e9ff; }
.ws_skyblue a.widgetMoreLink:link,
.ws_skyblue a.widgetMoreLink:visited { background-color: #e9f4ff; color: #0055aa; }
.ws_skyblue a.widgetMoreLink:active,
.ws_skyblue a.widgetMoreLink:hover   { background-color: #0055aa; }


.ws_gray h2                       { background-color: #d4d4d4; }
.ws_gray a.widgetMoreLink:link,
.ws_gray a.widgetMoreLink:visited { background-color: #e9e9e9; color: #555555; }
.ws_gray a.widgetMoreLink:active,
.ws_gray a.widgetMoreLink:hover   { background-color: #555555; }
